.appeal {
  text-align: center;
}  

  .appeal-header {
    background-color: #3423ee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(127, 239, 70);
  }
    
  @keyframes Message-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }